<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
  <meta charset="ISO-8859-1">
  <title>My registered Events</title>

  <!-- Bootstrap -->
  <link href="" rel="stylesheet" th:href="@{/static/css/bootstrap.min.css}">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  <!--  jQuery  -->
  <script type="text/javascript" src="../static/js/jQuery/jquery-2.1.1.min.js"></script>

  <!--  Pagination Plugin  -->
  <script type="text/javascript" src="../static/js/jQuery/jquery.pagination.js"></script>
  <link rel="stylesheet" href="../static/css/pagination.css" />

  <style>
    .flex-container {
      display: flex;
      flex-direction: column;
      margin-left: 100px;
      margin-right: 100px;
      margin-top: 90px;
      height: 82vh
    }

    .flex-container > div {
      width: 100%;
      height: 28%;
      margin: 30px;
      line-height: 75px;
      font-size: 26px;
      max-height: 28%;
    }
  </style>
</head>
<body>
<nav class="navbar navbar-expand navbar-dark bg-dark d-flex flex-row">
  <a class="navbar-brand " href="/">Grouping Now</a>

  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/groups">Group</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/viewGroupFromCart">Groups</a>
      </li>
      <li class="nav-item" sec:authorize="isAnonymous()">
        <a class="nav-link" href="/login">Log in</a>
      </li>
      <li class="nav-item" sec:authorize="isAuthenticated()">
        <!--  <span sec:authentication="name">-->
        <a class="nav-link" href="/userProfile"><span th:text="${user}"></span></a>
      </li>
      <li class="nav-item" sec:authorize="isAuthenticated()">
        <a class="nav-link" href="/logout">Log out</a>
      </li>
    </ul>
  </div>

  <div>
    <form class="form-inline my-md-2">
      <select class="form-select" aria-label="Default select example">
        <option selected value="0">Group</option>
        <option value="1">Group</option>
      </select>
      <input class="form-control m-2" type="text" placeholder="Search">
      <button type="button" class="btn btn-primary">Search</button>
    </form>
  </div>
</nav>

<div class="row" style="height:18%">
  <div class="col-12">
    <h1 class="ml-5 mt-4">Groupd Found:</h1>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="card-deck flex-container" id="group-deck">
    </div>

    <div id="Pagination-group" class="pagination" style="display: flex;
	  justify-content: center;
	  align-items: center;
	  text-align: center;
		margin-top: 60px; margin-bottom: 80px;"></div>
  </div>
</div>
<script>
  //??function,?????????function
  function generateGroupPagination(){
    //??Group????
    var resultEntity=getPageInfoGroup();

    //??Group??
    fillGroupCardDeck(resultEntity.data);

    //???????????
    generateNavigationBarGroup(resultEntity);
  }

  //??pageInfo??
  function getPageInfoGroup(){
    var res ="[[${groupName}]]";

    $.ajax({
      url: "/searchGroups",
      type: "post",
      data: {
        "pageNum": window.groupPageNum,
        "pageSize": window.groupPagesize,
        "groupName":	"[[${groupName}]]"
      },
      dataType: "json",
      async: false,
      success: function(response){
        res=response;
      },
      error: function(response){
        res=response;
      }
    });

    return res;
  }

  //??????
  function fillGroupCardDeck(list){
    //??tbody?????
    $("#group-deck").empty();

    //???????
    $("#Pagination-group").empty();

    if(list==null || list.length==0){
      $("#group-deck").append("<tr><td colspan='4'>No data found for you</td></tr>");
      return;
    }

    for(var i=0;i<list.length;i++){
      var base64Encoded=list[i].base64Encoded;
      var groupName=list[i].groupName;
      var description=list[i].description;

      //Image tag
      var img="<img src='data:image/jpeg;base64,"+base64Encoded+"' class='card-img-top' alt='Group Image' style='width:66%; height: 100%;'>";

      //Image Column
      var imageCol="<div className=\"col-4\" style='height:100%; width:40%'>"+img+"</div>";

      //Card Body
      var groupNameH5="<h5 class='card-title' style='height:15%'>"+groupName+"</h5>";
      var discriptionP="<p class='card-text' style='height:35%'>"+description+"</p>";
      var findDetailsA="<a href=\"#\" class=\"btn btn-primary\">Find Details</a>"

      var cardBody="<div class=\"card-body\" style='height:100%'>"+groupNameH5+discriptionP+findDetailsA+"</div>";

      //Card body Column
      var cardBodyCol="<div className=\"col-8\" style='height:100%; width:60%'>"+cardBody+"</div>";

      //Card
      var card="<div class=\"card\"><div class=\"row\" style='max-height: 100%'>"+imageCol+cardBodyCol+"</div></div>";

      $("#group-deck").append(card);
    }
  }

  //?????????
  function generateNavigationBarGroup(resultEntity){
    //??role?????
    var totalRecord=resultEntity.totalRecords;

    //????????pagination???????
    var properties={
      num_edge_entries: 1,        //?????
      num_display_entries: 3,     //?????
      callback: pageSelectCallbackGroup,       //??????????????????
      items_per_page: window.groupPagesize,
      current_page: window.groupPageNum-1,   //Pagination????pageIndex(?0?????pageNum?1??
      prev_text: "Previous",
      next_text: "Next"
    };

    $("#Pagination-group").pagination(totalRecord, properties);
  }

  //??????????????????
  function pageSelectCallbackGroup(pageIndex, jQuery){
    //??pageNum
    window.groupPageNum=pageIndex+1;

    //??????
    generateGroupPagination();

    //?????????????????????????????????????????host?contextPath?
    //?????????????
    return false;
  }

  $(function() {
    window.groupPageNum = 1;
    window.groupPagesize = 3;

    //??Event????
    generateGroupPagination();
  });
</script>
</body>
</html>